<div class="grid-container">
    
    <div class="container">
           <div class="row">
                 <h1 class="mat-h1">Ofertas</h1>
           </div>
       </div> 
       <div class="container">
        <div class="row">
            <table mat-table [dataSource]="habitacionesPaginadas" class="mat-elevation-z8">

                <!-- No. Habitacion Column -->
                <ng-container matColumnDef="Numero">
                    <th mat-header-cell *matHeaderCellDef> No. Habitacion </th>
                    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>

                <!-- Tipo de Habitacion Column -->
                <ng-container matColumnDef="TipoHabitacion">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo.nombre}} </td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="Disponible">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.disponible; else notAvailable">
                            <img src="assets/iconos/ck_circle.svg" alt="Disponible">
                        </ng-container>
                        <ng-template #notAvailable>
                            <img src="assets/iconos/cancel.svg" alt="No disponible">
                        </ng-template>
                        {{ element.disponible ? 'Disponible' : 'Ocupada' }}
                    </td>
                </ng-container>


                <!-- Encabezado de fila -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Fila -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="habitaciones.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" (page)="cargarHabitacionesPaginadas($event)">
            </mat-paginator>
            
            
        </div>
       
    </div>
   <app-footer></app-footer>
</div>