<div class="grid-container justify-content-center">
    <h1><br></h1>
    <mat-grid-list cols="2" rowHeight="350px">
        <div class="container form-container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control mb-3" id="usuario" name="usuario" required [(ngModel)]="usuario">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control mb-3" id="password" name="password" required [(ngModel)]="password">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <button (click)="login()" type="submit" class="btn btn-lg mb-3" style="background-color: #001840; color: #fffdf0; float: left;">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </mat-grid-list>
</div>

<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage"></app-modal>
<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage" (closeModalEvent)="closeModal()"></app-modal>

