<mat-dialog-content>
    <h2 mat-dialog-title>Actualizar Oferta</h2>
    <div class="container">
        <form class="row g-2">

            <div class="row">
                <div class="col">
                    <label for="checkIn">Fecha de Inicio</label>
                    <input class="form-control"  type="date" id="checkIn" name="checkIn" [(ngModel)]="formData.checkIn "
                        [value]="formData.checkIn | date:'yyyy-MM-dd'" required>



                    <div class="alert alert-danger mt-2" *ngIf="mostrarErrorCheckIn">
                        Fecha de Inicio es obligatorio
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="mostrarError">
                        {{mensajeError}}
                    </div>
                    <div class="alert alert-success mt-2" *ngIf="mostrarConfirmacion">
                        {{mensajeConfirmacion}}
                    </div>
                </div>

                <div class="col">
                    <label for="checkOut">Fecha de Fin</label>
                    <input class="form-control"  type="date" id="checkOut" name="checkOut" [(ngModel)]="formData.checkOut"
                        [value]="formData.checkOut | date:'yyyy-MM-dd'" required>


                    <div class="alert alert-danger mt-2" *ngIf="mostrarErrorCheckOut">
                        La Fecha Final es obligatorio
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="mostrarError_">
                        {{mensajeError_}}
                    </div>
                    <div class="alert alert-success mt-2" *ngIf="mostrarConfirmacion_">
                        {{mensajeConfirmacion_}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <label for="descripcion">Nombre de la Oferta</label>
                        <textarea class="form-control"  placeholder="Día de San Valentín....." id="descripcion" name="descripcion"
                            [(ngModel)]="formData.descripcion" [value]="formData.descripcion " required></textarea>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <label for="descuento">Monto de descuento</label>
                        <mat-label>Monto de descuento</mat-label>
                        <input  class="form-control"  type="number" placeholder="30" id="descuento" name="descuento"
                        [value]="formData.descuento" [(ngModel)]="formData.descuento" (input)="updateMontoDescuento($event)" required>
                 
                          

                    </mat-form-field>
                </div>


            </div>
            <div class="row">
                <label for="TipoDeHabitacion">
                    <h2>Seleccione a qué tipo de habitación desea asignar</h2>
                </label>

                <ng-container *ngIf="tiposDeHabitaciones && tiposDeHabitaciones.length">
                    <ng-container
                        *ngTemplateOutlet="habitacionTemplate; context: { $implicit: tiposDeHabitaciones }"></ng-container>
                </ng-container>

                <ng-template #habitacionTemplate let-habitaciones>
                    <div *ngFor="let tipoHabitacion of habitaciones; let i = index">
                        <input type="checkbox" [(ngModel)]="tipoHabitacion.check" [value]="tipoHabitacion.id " class="form-check-input"
                            [name]="tipoHabitacion.id">
                            <label class="form-check-label" >  {{ tipoHabitacion.Nombre }}</label>

                     
                    </div>
                </ng-template>
            </div>

            <mat-dialog-actions class="d-flex justify-content-between">
                <button mat-button (click)="onNoClick()" class="btn btn-primary">Cerrar</button>
                <button mat-button (click)="actualizarOferta()" class="btn btn-success" cdkFocusInitial>Actualizar</button>
            </mat-dialog-actions>
            

        </form>

    </div>
    <mat-dialog-content>