<div class="grid-container">
    <h1 class="mat-h1">¿Como llegar?</h1>
    <mat-grid-list cols="2" rowHeight="350px">
       <div class="container">
              <div class="row">
                  <div class="col-md-5">
                    <iframe
                    id="inlineFrameExample"
                    title="Inline Frame Example"
                    width="300"
                    height="200"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
                  </iframe>
                  </div>
              </div>
          </div> 
          
      <app-footer></app-footer>
    </mat-grid-list>
  </div>
  