\Backend-.NET/Nucleo/Nucleo/.vs/
\Backend-.NET/Seguridad/ReglasNegocio/obj/Debug/net6.0/ReglasNegocio.csproj.AssemblyReference.cache
\Backend-.NET/Seguridad/Seguridad/.vs/
\Backend-.NET\Seguridad\Seguridad\.vs
