Backend-.NET/Nucleo/Nucleo/.vs/Nucleo/v17/.suo
Backend-.NET/Seguridad/ReglasNegocio/obj/Debug/net6.0/ReglasNegocio.csproj.AssemblyReference.cache
Backend-.NET/Seguridad/Seguridad/.vs/Seguridad/DesignTimeBuild/.dtbcache.v2
Backend-.NET/Seguridad/Seguridad/.vs/Seguridad/v17/.suo
