

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="background-color: #000918;">
      <mat-toolbar style="color: #fffdf0;" >Menu</mat-toolbar> 
      <mat-nav-list >
        <a mat-list-item routerLink="/" ><p style="color: #fffdf0;">Home</p></a>

        <a mat-list-item routerLink="/dashboard"><p style="color: #fffdf0;">Facilidades</p></a>
        
        <a mat-list-item routerLink="/dashboard"><p style="color: #fffdf0;">¿Como llegar?</p></a>

        <a mat-list-item routerLink="/dashboard"><p style="color: #fffdf0;">Tarifas</p></a>

        <a mat-list-item routerLink="/reservar"><p style="color: #fffdf0;">Reservar en Linea</p></a>

        <a mat-list-item routerLink="/dashboard"><p style="color: #fffdf0;">Contactenos</p></a>
        <img style="max-width: 100%;" src="../../assets/ejemplospublicidadproductosdoritos.jpeg">
      </mat-nav-list>
      
    </mat-sidenav>
  <mat-sidenav-content style="background-color: #eaf2ff; color: #001840;">
    <mat-toolbar style="background-color: #001840; color: #fffdf0;">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <img src="../../assets/logoPalm.png" style="max-height: 100%;">
      <span>Hotel</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet ></router-outlet>
    <div class="app-footer">
      <app-footer></app-footer>
    </div>
    

  </mat-sidenav-content>
  
</mat-sidenav-container>

<style>
  .app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
 
}
</style>