<div class="grid-container">
    <h1 class="mat-h1">Sobre Nosotros</h1>
    <mat-grid-list cols="2" rowHeight="350px">

        <div class="container">

            <div class="row">
                <div class="container" [innerHTML]="hotel?.sobre_nosotros"></div>
                <div class="card">
                    <p-galleria [value]="images" [showItemNavigators]="true" [circular]="true" [numVisible]="5"
                        [containerStyle]="{ 'max-width': '640px' }">
                        <ng-template pTemplate="item" let-item>
                            <img class="imgPrincipal" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center">
                                <img class="imgSecundaria" [src]="item.thumbnailImageSrc" style="display: block;" />
                            </div>
                        </ng-template>
                    </p-galleria>

                </div>

            </div>
        </div>


        <app-footer></app-footer>
    </mat-grid-list>
</div>