<div class="grid-container">

    <div class="container">
        <div class="row">
            <h1 class="mat-h1">Modificar Páginas</h1>
            <h2>Seleccione la pagina que desea modificar</h2>
            <div class="row">
                <a href="admin\modificarHome">Home</a>
            </div>
            <div class="row">
                <a href="admin/modificarSobreNosotros">Sobre Nosotros</a>
            </div>
            <div class="row">
                <a href="admin/modificarFacilidades">Facilidades</a>
            </div>
            <div class="row">
                <a href="admin/modificarComoLegar">Como llegar</a>
            </div>
        </div>
    </div>
   
    
    <app-footer></app-footer>
</div>

