<div class="grid-container">
  <div class="row">
    <h1 class="mat-h1">Publicidad</h1>
    <a href="/admin/publicidadCrear" class="" style="float: right;">
      <button class="btn btn-sm" style="background-color: #001840; color: #fffdf0; float: right;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdf0" class="bi bi-plus"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
        Crear Publicidad
      </button>
    </a>
  </div>

  <div class="centered-spinner-container" *ngIf="cargando">
    <mat-spinner class="centered-spinner"></mat-spinner>
  </div>

  <div class="container" *ngIf="!cargando">
    <br>
    <div class="row">
      <table class="table" style="max-width: 100;">
        <thead class="table-light">
          <tr>
            <td>Nombre</td>
            <td>Enlace</td>
            <td>Imagen</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let publicidad of publicidades">
            <td>{{publicidad.nombre}} </td>
            <td>{{publicidad.enlace}}</td>
            <td><img style="max-width: 100px;" [src]="publicidad.imagen"></td>
            <td>
              <button type="submit" class="btn btn-sm" style="background-color: #001840; color: #fffdf0;"
                (click)="quitar(publicidad.id)">
                Quitar
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage"></app-modal>
<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage" (closeModalEvent)="closeModal()"></app-modal>