<div class="grid-container">
  <h1 class="mat-h1">Contáctenos</h1>
     <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p>Palm Hotel:
                        <br>
                        Tel: 2222-2222 / 8888-8888
                        <br>
                        Apartado Postal XYZ
                        <br>
                        <a>info&commat;palmhotel.com</a>
                    </p>
                </div>
            </div>
        </div> 
        
    <app-footer></app-footer>
</div>