<div class="grid-container">
    <h1 class="mat-h1">Tarifas</h1>
       <div class="container">
              <div class="row">
                  <div class="col-md-5">
                      <p> 
                          <img style="max-width: 100%;margin-right: 20px;" src="../../assets/standart.jfif" align="left" >
                      <p>
                  </div>
                  <div class="col-md-7">
                    <p>
                        <h1>Habitacion Standart</h1>
                          <br>
                          Los servicios disponibles para una habitación Standart son muy parecidos a las habitaciones Junior. Sin embargo, esta suite es mucho más exclusiva , ya que cuenta con espacios más amplios, una sala de estar, entre otros, que permiten darle más privilegios a todos nuestros clientes que reserven esta suite. Por eso, te contamos todos los servicios que encontrarás en una Senior Suite:
                          <br>
                          - Amenidad de bienvenida
                          <br>
                          - Internet inalámbrico 
                          <br>
                          - Smart Tv con canales digitales
                          <br>
                          - Aire acondicionado y calefacción
                          <br>
                          - Minibar 
                          <br>
                          - Un amplio espacio de  65 m²
                          <br>
                          En cuánto a accesorios se ofrece : Plancha y tabla de planchar, Cafetera, Secador de cabello, Caja de seguridad
                    <p>
                  </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-5">
                    <p> 
                        <img style="max-width: 100%;margin-right: 20px;" src="../../assets/junior.jfif" align="left" >
                    <p>
                </div>
                <div class="col-md-7">
                <p>
                    <h1>Habitacion Junior</h1>
                    <br>
                    A continuación, te detallamos todo los servicios que puedes encontrar en nuestras Junior Suite:
                    <br>
                    - Amenidad de bienvenida
                    <br>
                    - Internet inalámbrico 
                    <br>
                    - Smart Tv con canales digitales
                    <br>
                    - Aire acondicionado
                    <br>
                    - Minibar 
                    <br>
                    - Un espacio de 46 m²
                    <br>
                    En cuánto a accesorios se ofrece : Plancha y tabla de planchar, Cafetera, Secador de cabello, Caja de seguridad
                <p>
                </div>
            </div>
            <br>
              <br>
              <div class="row">
                <div class="col-md-5">
                    <p> 
                        <img style="max-width: 100%;margin-right: 20px;" src="../../assets/presidencial.jfif" align="left" >
                    <p>
                </div>
                <div class="col-md-7">
                <p>
                    <h1>Habitación Presidencial</h1>
                    <br>
                    Esta elegante suite es ideal para alojar a nuestros visitantes más importantes. Cuenta con una sala de estar, comedor, kitchenette, baño para visitas, un encantador dormitorio con cama King y un amplio y lujoso baño principal de mármol blanco que incluye sauna y jacuzzi.
                    <br>
                    - Amenidad de bienvenida
                    <br>
                    - Internet inalámbrico 
                    <br>
                    - Smart Tv Curvo de 75" con canales digitales
                    <br>
                    - Aire acondicionado y calefacción
                    <br>
                    - Minibar de bebidas ilimitado
                    <br>
                    - Un espacio de 96 m² 
                    <br>
                    En cuánto a accesorios se ofrece : Plancha y tabla de planchar, Cafetera, Secador de cabello, Caja de seguridad
                <p>
                </div>
            </div>

          </div> 
          
      <app-footer></app-footer>
  </div>

