<div class="grid-container">
    <h1 class="mat-h1">Tarifas</h1>

    <div class="container ">
        <div class="row mb-5" *ngFor="let habitacion of tiposDeHabitacion">
            <div class="col-md-5">
                <p>
                    <img style="max-width: 100%;margin-right: 20px;" [src]="habitacion.imagen" align="left">
                <p>
            </div>
            <div class="col-md-7">
                <p>
                <h1>{{habitacion.nombre}}</h1>
                <div [innerHTML]="habitacion.descripcion"></div>
                Precio: <strong>${{habitacion.precio}}</strong>
                <div *ngFor="let descuentoOferta of descuentosOfertas">
                    <div *ngIf="habitacion.nombre==descuentoOferta.nombre" class="alert alert-warning" role="alert">
                        Oferta: <strong>{{" "+descuentoOferta.oferta+" "}}</strong>
                        desde el <strong>{{descuentoOferta.inicio| date: 'yyyy-MM-dd' }}</strong> hasta el <strong>{{descuentoOferta.fin| date: 'yyyy-MM-dd' }}</strong>
                        con un descuento del <strong>%{{descuentoOferta.descuento+" "}}</strong>
                        para un total de <strong>${{descuentoOferta.precioConDescuento+" "}}</strong>por noche
                    </div>
                </div>
            </div>
            <mat-divider class="row mb-3" style="border-width: 2px;"></mat-divider>
        </div>
        
    </div>
    <app-footer></app-footer>
</div>