<div class="container mt-4">
    <div *ngIf="reservacion" class="card">
      <div class="card-header">
        <h4>Detalles de la Reserva</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>ID Reserva:</strong> {{ reservacion.id }}</p>
            <p><strong>Cliente:</strong> {{ reservacion.cliente }}</p>
            <p><strong>Cédula:</strong> {{ reservacion.cedula }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Email:</strong> {{ reservacion.email }}</p>
            <p>Fecha de check-in: {{ formatDate(reservacion.checkIn) }}</p>
            <p>Fecha de check-out: {{ formatDate(reservacion.checkOut) }}</p>

            <p><strong>Total:</strong> {{ reservacion.total | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mt-4">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Número de habitación Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> Número </th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>
      
        <!-- Nombre del tipo de habitación Column -->
        <ng-container matColumnDef="nombreTipoHabitacion">
          <th mat-header-cell *matHeaderCellDef> Tipo de Habitación </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreTipoHabitacion}} </td>
        </ng-container>
      
        <!-- Encabezado de fila -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      
        <!-- Fila -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  
    <div class="mt-4 d-flex justify-content-center">
      <button type="button" class="btn btn-danger btn-lg mr-2" (click)="eliminarReserva()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg>
        Eliminar Reserva
      </button>
  
      <button type="button" class="btn btn-info btn-lg" (click)="generarPDF()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
          </svg>
        Generar PDF
      </button>
    </div>

    <div class="mt-4 d-flex justify-content-center">
       
    
        <button type="button" class="btn btn-info btn-lg" (click)="volver()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
              </svg>
Regresar        </button>
      </div>
  