<div class="grid-container">

    <h1 class="mat-h1">Reservar en Línea
        <a href="/reservar" class="" style="float: right;">
            <button class="btn btn-sm" style="background-color: #001840; color: #fffdf0; float: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdf0"
                    class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
                </svg>
                Reiniciar
            </button>
        </a>
    </h1>
    <mat-grid-list cols="2" rowHeight="350px">

        <div class="container">

            <form class="row g-2" (ngSubmit)="agregarHabitacion()">
                <div class="row">
                    <div class="col">
                        <label for="checkIn">Fecha de Llegada</label>
                        <input type="date" class="form-control" id="checkIn" name="checkIn" #checkIn="ngModel"
                            [disabled]="checkInDesactivado" [(ngModel)]="formData.checkIn"
                            (ngModelChange)="validarFechaEntrada($event)" required>

                        <div class="alert alert-danger mt-2" *ngIf="mostrarErrorCheckIn">
                            El check in es obligatorio
                        </div>
                        <div class="alert alert-danger mt-2" *ngIf="mostrarError">
                            {{mensajeError}}
                        </div>
                        <div class="alert alert-success mt-2" *ngIf="mostrarConfirmacion">
                            {{mensajeConfirmacion}}
                        </div>
                    </div>

                    <div class="col">
                        <label for="checkOut">Fecha de salida</label>
                        <input type="date" class="form-control" id="checkOut" name="checkOut"
                            [disabled]="checkOutDesactivado" [(ngModel)]="formData.checkOut"
                            (ngModelChange)="validarFechaDeSalida($event)" required>
                        <div class="alert alert-danger mt-2" *ngIf="mostrarErrorCheckOut">
                            El check out es obligatorio
                        </div>
                        <div class="alert alert-danger mt-2" *ngIf="mostrarError_">
                            {{mensajeError_}}
                        </div>
                        <div class="alert alert-success mt-2" *ngIf="mostrarConfirmacion_">
                            {{mensajeConfirmacion_}}
                        </div>
                    </div>
                </div>
                <div class="row  mb-3">

                    <div class="col">
                        <label for="tipo_habitacion">Tipo de habitacion</label>
                        <select class="form-control" [disabled]="tipo_habitacionDesactivado " name="tipo_habitacion"
                            #tipo_habitacion="ngModel" [(ngModel)]="formData.tipo_habitacion" id="tipo_habitacion"
                            required="">
                            <option *ngFor="let tipo of tiposDeHabitacion" value="{{ tipo.id }}">{{ tipo.nombre }}
                            </option>
                        </select>
                        <div class="alert alert-danger mt-2" role="alert" *ngIf="mostrarErrorTipoHabitacion">
                            Es requerido un tipo de habitacion
                        </div>
                    </div>

                    <div class="col">
                        <label for="cantidad_habitacion">Cantidad</label>
                        <input type="number" max="5" min="1" [disabled]="cantidad_habitacionDesactivado" class="form-control"
                            id="cantidad_habitacion" name="cantidad_habitacion" #cantidad_habitacion="ngModel"
                            [(ngModel)]="formData.cantidad_habitacion" min="1" required>
                        <div class="alert alert-danger mt-2" role="alert" *ngIf="mostrarErrorCantidadHabitacion">
                            Es requerido una cantidad de habitaciones
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <button type="submit" class="btn btn-sm"
                            style="background-color: #001840; color: #fffdf0; float: right;">Agregar</button>
                    </div>
                </div>
            </form>


            <div class="row  mb-3" *ngIf="tabla_contenidoVisible">
                <div class="col">
                    <table class="table" style="max-width: 100;">
                        <thead class="table-light">
                            <tr>
                                <td>Tipo de habitacion</td>
                                <td>Descripcion</td>
                                <td>Cantidad</td>
                                <td>Precio por noche</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let habitacion of tiposDeHabitacionElegidos; let i = index">
                                <td>{{habitacion.nombre}} </td>
                                <td>{{habitacion.descripcion}}</td>
                                <td>{{habitacion.cantidad}}</td>
                                <td>{{habitacion.precio}}</td>
                                <td>
                                    <input type="hidden" [id]="i" [value]="habitacion.id">
                                    <button type="submit" class="btn btn-sm"
                                        style="background-color: #001840; color: #fffdf0;"
                                        (click)="quitarHabitacion(i)">Quitar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <h2>
                        <p style="text-align: right;">Total de la reservación <strong>${{totalReserva}}</strong> para
                            <strong>{{cantidadNoches}} noches</strong>
                        </p>
                    </h2>
                    <button type="submit" class="btn btn-lg btn-block col-12"
                        style="background-color: #001840; color: #fffdf0; float: right;"
                        (click)="reservar()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdf0"
                            class="bi bi-paypal" viewBox="0 0 16 16">
                            <path
                                d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z" />
                        </svg>
                        Reservar
                    </button>

                </div>

            </div>
           
        </div>


        <app-footer></app-footer>
    </mat-grid-list>
</div>