<div class="grid-container">

    <div class="container">
        <div class="row">
            <h1 class="mat-h1">Reserva</h1>
        </div>

   

        <div class="centered-spinner-container" *ngIf="cargando">
            <mat-spinner class="centered-spinner"></mat-spinner>
        </div>
    </div>
    <input type="text" class="form-control mb-3" placeholder="Buscar..." [(ngModel)]="textoBusqueda" (input)="buscar()">

    <div class="row mb-3" *ngIf="paginacion.length > 0">


        <div class="container">
            <div class="row">
                <table mat-table [dataSource]="paginacion" class="mat-elevation-z8">


                    <ng-container matColumnDef="idReserva">
                        <th mat-header-cell *matHeaderCellDef> ID Reserva </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Cliente">
                        <th mat-header-cell *matHeaderCellDef> cliente </th>
                        <td mat-cell *matCellDef="let element"> {{element.cliente}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef> Cedula </th>
                        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CheckIn">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.checkIn| slice:0:10}} </td>
                    </ng-container>

                    <!-- Tipo de Habitacion Column -->
                    <ng-container matColumnDef="CheckOut">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
                        <td mat-cell *matCellDef="let element"> {{element.checkOut| slice:0:10}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>


                    <!-- Estado Column -->
                    <ng-container matColumnDef="Ver">
                        <th mat-header-cell *matHeaderCellDef> Ver </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-primary"
                                (click)="ver(element)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                  </svg>

                            </button>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-danger" (click)="delete(element.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>

                            </button>
                        </td>
                    </ng-container>


                    <!-- Encabezado de fila -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                    <!-- Fila -->
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="reservas.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="cargarPaginadas($event)">
                </mat-paginator>


            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
