<div class="grid-container">
    <h1 class="mat-h1">Facilidades</h1>
       <div class="container">
        <div style="max-width: 100%;" [innerHTML]="hotel?.facilidades"></div>
              <!---<div class="row">
                  <div class="col-md-5">
                      <p> 
                          <img style="max-width: 100%;margin-right: 20px;" src="../../assets/photo.jpg" align="left" >
                      <p>
                  </div>
                  <div class="col-md-7">
                      <p>- Servicio de habitaciones: Permitiendo a los huéspedes ordenar comida y bebida en la comodidad de su habitación, a menudo disponible las 24 horas del día.
                          <br>
                          - Conexión a Internet de alta velocidad: Proporcionando acceso gratuito a Internet Wi-Fi en todas las áreas del hotel, incluyendo las habitaciones y áreas comunes.
                          <br>
                          - Estacionamiento: Ofreciendo estacionamiento seguro y conveniente para los huéspedes que llegan en automóvil.
                          <br>
                          - Servicios de lavandería y limpieza en seco: Permitiendo a los huéspedes hacer uso de servicios de lavandería y limpieza en seco para mantener su ropa limpia y fresca durante su estancia.
                          <br>
                          - Instalaciones de fitness y spa: Proporcionando un gimnasio bien equipado y servicios de spa para que los huéspedes se relajen y mantengan su rutina de ejercicio durante su estancia.
                          <br>
                          - Contamos con dos piscinas, dos comedores, playa privada con acceso desde el hotel, amplias zonas verdes, sala de juegos, zona de bar.
                      </p>
                  </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-5">
                    <p> 
                        <img style="max-width: 100%;margin-right: 20px;" src="../../assets/photo.jpg" align="left" >
                    <p>
                </div>
                <div class="col-md-7">
                    <p>- Restaurante y bar: Ofreciendo opciones de restauración dentro del hotel para desayunos, almuerzos, cenas y bebidas, a menudo con menús variados y especialidades locales.
                        <br>
                        - Piscina y/o jacuzzi: Disponiendo de instalaciones recreativas como piscinas al aire libre o cubiertas, así como jacuzzis, para que los huéspedes se relajen y se diviertan durante su estancia.
                        <br>
                        - Servicio de conserjería: Proporcionando asistencia a los huéspedes para reservar excursiones, transporte, restaurantes y cualquier otra necesidad que puedan tener durante su estancia.
                        <br>
                        - Centro de negocios: Ofreciendo instalaciones y servicios para viajeros de negocios, como salas de reuniones, servicios de impresión y fotocopiado, y acceso a equipos de oficina.
                        <br>
                        - Recepción 24 horas: Estando disponible el personal de recepción las 24 horas del día para atender las necesidades de los huéspedes, ofreciendo registro de entrada y salida, información turística, seguridad y asistencia en general.
                        <br>
                        - Contamos con fiestas de espuma, actividad de zumba, actividades para niños, karaoke y música en vivo, show de stand up comedy.
                    </p>
                </div>
            </div>-->

          </div> 
          
      <app-footer></app-footer>
  </div>

<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage"></app-modal>
<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage" (closeModalEvent)="closeModal()"></app-modal>