<div class="grid-container">
   
    <mat-grid-list cols="2" rowHeight="350px">
        <div class="container">
            <div *ngIf="reserva">
                <a href="\reservar">Volver</a>
                <div *ngFor="let habitacion of reserva.habitaciones">
                    <h2>Habitacion disponible</h2>
                    <div class="row">
                        <div class="col-md-5">
                            <p>
                                <img style="max-width: 100%;margin-right: 20px;" [src]="habitacion.tipo.imagen"
                                    align="left">
                            <p>
                        </div>
                        <div class="col-md-7">
                            <p>
                            <h3>Habitacion {{habitacion.tipo.nombre}}</h3>
                            <br>
                            {{habitacion.tipo.descripcion}}
                            <br>
                            <br>
                            Numero de habitacion {{habitacion.numero}}
                            
                            <p>
                        </div>
                    </div>
                    <br>
                    <br>

                </div>
                <h4>
                    <p style="text-align: left;">Monto de su reservación <strong>${{reserva.total}}</strong></p>
                </h4>
                <div class="container mb-3">
                    

                    <div class="row">
                        <label for="cedula">Cedula</label>
                        <input type="text" class="form-control" id="cedula" name="cedula"
                        [(ngModel)]="cedula" required>
                        <div class="alert alert-danger mt-2" *ngIf="">

                        </div>
                        <div class="alert alert-danger mt-2" *ngIf="">

                        </div>
                        <div class="alert alert-success mt-2" *ngIf="">

                        </div>
                    </div>

                </div>
                
                <div id="paypal-button-container"></div>
            </div>

            <app-footer></app-footer>
        </div>
    </mat-grid-list>
</div>