<div class="grid-container">

    <div class="container">
        <div class="row">
            <h1>Modificar Habitacion</h1>
            <a href="/admin/administrarHabitaciones" class="" style="float: right;">
                <button class="btn btn-sm" style="background-color: #001840; color: #fffdf0; float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdf0" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                      </svg>
                    Regresar
                </button>
            </a>
            <div class="row mb-3">
                <div class="col">
                    <h2 for="">{{tipo?.nombre}}</h2>
                </div>

                <div class="col">
                    <label for="precio">Tarifa Diaria</label>
                    <input type="number" class="form-control" [(ngModel)]="precio" id="precio" name="precio"
                        value="{{tipo?.precio}}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="descripcion">Descripcion</label>

                <editor apiKey="znh3lfytid67l6ebvfo1baqhvqrsh51ikna2ythhu7go467y" [init]="{ plugins: 'lists link image table code help wordcount',
                language: 'es',
                menubar: false
             }" [(ngModel)]="descripcion">{{tipo?.descripcion}}</editor>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <button type="submit" class="btn btn-sm" style="background-color: #001840; 
                        color: #fffdf0; float: right;" (click)="actualizar()">
                        Aceptar
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-sm" style="background-color: #001840; 
                        color: #fffdf0; float: right;" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </div>
            <mat-divider class="row mb-3" style="border-width: 2px;"></mat-divider>
            <div class="row mb-3">
                <div class="col">
                    <label>Imagen actual</label>
                    <br>
                    <img style="max-width: 80%;margin-right: 20px;" [src]="rutaImagen" align="left">
                </div>
                <div class="col mb-3">
                    <form #fileForm="ngForm">
                        <input type="file" class="form-control mb-3" (change)="archivoSeleccionado($event)"
                            accept=".jpg,.jpeg,.png,.gif">
                        <button type="submit" class="btn btn-sm" style="background-color: #001840; 
                        color: #fffdf0; float: right;" (click)="cambiarImagen()">
                            Cambiar Imagen
                        </button>
                    </form>
                </div>
            </div>
            
        </div>
        <app-footer></app-footer>
    </div>
</div>

<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage"></app-modal>
<app-modal *ngIf="showModal" [title]="modalTitle" [message]="modalMessage" (closeModalEvent)="closeModal()"></app-modal>